{% extends 'base.html' %}
{% block body %}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Available DataPoints</h1>

<!-- Table -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Error</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
        <p>General error. Please follow these and other troubleshooting steps.</p>
        <ul>
          <li>Cannot connect to pattoo API server. Check whether the pattoo_apid daemon is running. Check network connectivity.</li>
          <li>Pattoo API server database is empty. Please start pattoo_ingesterd on the pattoo server.</li>
        </ul>
    </div>
  </div>
</div>


{% endblock %}
