#############################################
# These additional PIP3 packages are required
#############################################

# Pattoo packages

PattooShared==0.0.92

# Miscellaneous packages
pyYAML

# Web server packages
Flask
Flask-Table
requests
gunicorn
